n8n/workflows/ai-agent.json
{
  "name": "Local AI Agent (HTTP-based)",
  "nodes": [
    {
      "parameters": {
        "path": "telegram-ai-agent",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -520,
        300
      ],
      "webhookId": "telegram-ai-agent"
    },
    {
      "parameters": {
        "functionCode": "const body = $json.body || {};\nconst message = body.message || {};\nconst chat = message.chat || {};\nconst text = message.text || '';\n\nconst isWebSearch = text.startsWith('/search ');\n\nreturn [{\n  chatId: chat.id,\n  originalText: text,\n  isWebSearch,\n  query: isWebSearch ? text.replace('/search ', '') : text\n}];"
      },
      "name": "Parse Telegram",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -300,
        300
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "Thinking...",
        "additionalFields": {}
      },
      "name": "Telegram Typing",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        -90,
        140
      ],
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIALS_ID",
          "name": "Telegram"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [],
          "string": [
            {
              "value1": "={{ $json.isWebSearch }}",
              "operation": "equal",
              "value2": "true"
            }
          ]
        }
      },
      "name": "If Web Search",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -90,
        420
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://chroma:8000/api/v1/collections",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "{\"name\": \"ai_memory\", \"get_or_create\": true}"
      },
      "name": "Get Collection",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -200,
        420
      ]
    },
    {
      "parameters": {
        "functionCode": "const original = $node[\"Parse Telegram\"].json;\nconst collection = $json;\nreturn [{ ...original, collectionId: collection.id }];"
      },
      "name": "Merge Collection ID",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        0,
        420
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://ollama:11434/api/embeddings",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{ JSON.stringify({\n  \"model\": $env.OLLAMA_MODEL || \"llama3.2:3b\",\n  \"prompt\": $json.query\n}) }}"
      },
      "name": "Generate Query Embedding",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        140,
        220
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{ 'http://chroma:8000/api/v1/collections/' + $node[\"Merge Collection ID\"].json.collectionId + '/query' }}",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{ JSON.stringify({ \"query_embeddings\": [ $json.embedding ], \"n_results\": 3 }) }}"
      },
      "name": "Chroma Query",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        340,
        220
      ]
    },
    {
      "parameters": {
        "functionCode": "const results = $json.documents || [];\nlet context = '';\nif (Array.isArray(results) && results.length > 0) {\n  const docs = results[0];\n  if (Array.isArray(docs)) {\n    context = docs.join('\\n');\n  }\n}\n\n// Access original data from Parse Telegram node because embedding node replaced context\nconst parseTelegramItems = $items(\"Parse Telegram\");\nconst originalData = parseTelegramItems && parseTelegramItems.length > 0 ? parseTelegramItems[0].json : {};\n\nreturn [{\n  chatId: originalData.chatId,\n  originalText: originalData.originalText,\n  query: originalData.query,\n  isWebSearch: originalData.isWebSearch,\n  memoryContext: context\n}];"
      },
      "name": "Build RAG Context",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        540,
        220
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://api.tavily.com/search",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{ JSON.stringify({\n  \"api_key\": \"tvly-***************************\",\n  \"query\": $json.query,\n  \"search_depth\": \"basic\",\n  \"include_answer\": true\n}) }}"
      },
      "name": "Tavily Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        140,
        520
      ]
    },
    {
      "parameters": {
        "functionCode": "let webContext = '';\nif ($json.answer) {\n  webContext = $json.answer;\n} else if (Array.isArray($json.results)) {\n  webContext = $json.results.map(r => `${r.title}\\n${r.content}`).join('\\n\\n');\n}\n\nreturn [{\n  chatId: $prevNode.json.chatId,\n  originalText: $prevNode.json.originalText,\n  query: $prevNode.json.query,\n  memoryContext: $prevNode.json.memoryContext || '',\n  webContext\n}];"
      },
      "name": "Build Web Context",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        360,
        520
      ]
    },
    {
      "parameters": {
        "functionCode": "const system = 'You are a helpful Russian-speaking AI assistant working over Telegram. Be concise.';\n\nconst parts = [];\nif ($json.memoryContext) {\n  parts.push('Memory context:\\n' + $json.memoryContext);\n}\nif ($json.webContext) {\n  parts.push('Web search context:\\n' + $json.webContext);\n}\nconst context = parts.join('\\n\\n');\n\nlet content = '';\nif (context) {\n  content = `${context}\\n\\nUser: ${$json.query}\\nAssistant:`;\n} else {\n  content = `User: ${$json.query}\\nAssistant:`;\n}\n\nreturn [{\n  chatId: $json.chatId,\n  prompt: content,\n  system\n}];"
      },
      "name": "Build Prompt",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        580,
        340
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://ollama:11434/api/chat",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{ JSON.stringify({\n  \"model\": \"llama3.2:3b\",\n  \"stream\": false,\n  \"messages\": [\n    {\"role\": \"system\", \"content\": $json.system},\n    {\"role\": \"user\", \"content\": $json.prompt}\n  ]\n}) }}"
      },
      "name": "Ollama Chat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        800,
        340
      ]
    },
    {
      "parameters": {
        "functionCode": "const resp = $json;\nlet answer = '';\nif (resp.message && resp.message.content) {\n  answer = resp.message.content;\n}\n\n// Access original data from Build Prompt node\nconst promptNodeItems = $items(\"Build Prompt\");\nconst originalData = promptNodeItems && promptNodeItems.length > 0 ? promptNodeItems[0].json : {};\n\nreturn [{\n  chatId: originalData.chatId,\n  answer,\n  question: originalData.prompt\n}];"
      },
      "name": "Extract Answer",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1020,
        340
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://ollama:11434/api/embeddings",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{ JSON.stringify({\n  \"model\": $env.OLLAMA_MODEL || \"llama3.2:3b\",\n  \"prompt\": $json.question + \"\\n\\n\" + $json.answer\n}) }}"
      },
      "name": "Generate Answer Embedding",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1240,
        220
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{ 'http://chroma:8000/api/v1/collections/' + $node[\"Merge Collection ID\"].json.collectionId + '/upsert' }}",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{ JSON.stringify({\n  \"ids\": [ Date.now().toString() ],\n  \"embeddings\": [ $json.embedding ],\n  \"documents\": [ $node[\"Extract Answer\"].json.question + \"\\n\\n\" + $node[\"Extract Answer\"].json.answer ],\n  \"metadatas\": [ { \"source\": \"telegram\" } ]\n}) }}"
      },
      "name": "Chroma Upsert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1440,
        220
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.answer }}",
        "additionalFields": {}
      },
      "name": "Telegram Send Answer",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1240,
        460
      ],
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIALS_ID",
          "name": "Telegram"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Telegram": {
      "main": [
        [
          {
            "node": "Telegram Typing",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Collection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Collection": {
      "main": [
        [
          {
            "node": "Merge Collection ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Collection ID": {
      "main": [
        [
          {
            "node": "If Web Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Web Search": {
      "main": [
        [
          {
            "node": "Tavily Search",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Query Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Query Embedding": {
      "main": [
        [
          {
            "node": "Chroma Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chroma Query": {
      "main": [
        [
          {
            "node": "Build RAG Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tavily Search": {
      "main": [
        [
          {
            "node": "Build Web Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build RAG Context": {
      "main": [
        [
          {
            "node": "Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Web Context": {
      "main": [
        [
          {
            "node": "Build Prompt",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Build Prompt": {
      "main": [
        [
          {
            "node": "Ollama Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat": {
      "main": [
        [
          {
            "node": "Extract Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Answer": {
      "main": [
        [
          {
            "node": "Generate Answer Embedding",
            "type": "main",
            "index": 0
          },
          {
            "node": "Telegram Send Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Answer Embedding": {
      "main": [
        [
          {
            "node": "Chroma Upsert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {}
}
