n8n/workflows/ai-agent.json
{
  "name": "AI Agent Workflow",
  "nodes": [
    {
      "parameters": {
        "path": "d47a83hs92jsd2",
        "options": {}
      },
      "name": "Telegram Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        400,
        300
      ],
      "webhookId": "d47a83hs92jsd2"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "userMessage",
              "value": "={{$json.body.message.text}}"
            },
            {
              "name": "chatId",
              "value": "={{$json.body.message.chat.id}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Extract Info",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        620,
        300
      ]
    },
    {
      "parameters": {
        "operation": "getSimilar",
        "collection": "conversations",
        "query": "={{$node[\"Extract Info\"].json.userMessage}}",
        "limit": 3
      },
      "name": "Retrieve Memory",
      "type": "n8n-nodes-base.chroma",
      "typeVersion": 1,
      "position": [
        840,
        300
      ],
      "credentials": {
        "chroma": "Chroma"
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"Extract Info\"].json.userMessage.toLowerCase()}}",
              "operation": "contains",
              "value2": "search for"
            },
            {
              "value1": "={{$node[\"Extract Info\"].json.userMessage.toLowerCase()}}",
              "operation": "contains",
              "value2": "найди"
            }
          ]
        }
      },
      "name": "Is Search Needed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1060,
        400
      ]
    },
    {
      "parameters": {
        "query": "={{$node[\"Extract Info\"].json.userMessage}}",
        "options": {}
      },
      "name": "Tavily Search",
      "type": "n8n-nodes-base.tavily",
      "typeVersion": 1,
      "position": [
        1280,
        300
      ],
      "credentials": {
        "tavily": "Tavily"
      }
    },
    {
      "parameters": {
        "keep": "all",
        "inputs": [
          {
            "input1": "={{$node[\"Retrieve Memory\"].json}}",
            "input2": "={{$node[\"Tavily Search\"].json}}"
          }
        ]
      },
      "name": "Merge Context",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        1500,
        400
      ]
    },
    {
      "parameters": {
        "prompt": "You are a helpful AI assistant. Use the following context to answer the user's question. If you don't know the answer, just say that you don't know, don't try to make something up.\n\nContext from memory:\n{{$node[\"Retrieve Memory\"].json.documents}}\n\nContext from web search:\n{{$node[\"Tavily Search\"].json.results}}\n\nUser Question: {{$node[\"Extract Info\"].json.userMessage}}",
        "model": "llama3:8b-instruct-q4_K_M",
        "stream": false,
        "options": {}
      },
      "name": "Ollama Call",
      "type": "n8n-nodes-base.ollama",
      "typeVersion": 1,
      "position": [
        1720,
        300
      ],
      "credentials": {
        "ollama": "Ollama"
      }
    },
    {
      "parameters": {
        "chatId": "={{$node[\"Extract Info\"].json.chatId}}",
        "text": "={{$node[\"Ollama Call\"].json.response}}",
        "options": {}
      },
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        2160,
        300
      ],
      "credentials": {
        "telegram": "Telegram"
      }
    },
    {
      "parameters": {
        "operation": "add",
        "collection": "conversations",
        "documents": "User: {{$node[\"Extract Info\"].json.userMessage}}\nAI: {{$node[\"Ollama Call\"].json.response}}"
      },
      "name": "Save Memory",
      "type": "n8n-nodes-base.chroma",
      "typeVersion": 1,
      "position": [
        1940,
        300
      ],
      "credentials": {
        "chroma": "Chroma"
      }
    }
  ],
  "connections": {
    "Telegram Webhook": {
      "main": [
        [
          {
            "node": "Extract Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Info": {
      "main": [
        [
          {
            "node": "Retrieve Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Memory": {
      "main": [
        [
          {
            "node": "Is Search Needed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Search Needed?": {
      "main": [
        [
          {
            "node": "Tavily Search",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tavily Search": {
      "main": [
        [
          {
            "node": "Merge Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Context": {
      "main": [
        [
          {
            "node": "Ollama Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Call": {
      "main": [
        [
          {
            "node": "Save Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Memory": {
      "main": [
        [
          {
            "node": "Send to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "id": "1"
}