n8n/workflows/ai-agent.json
{
  "name": "Local AI Agent",
  "nodes": [
    {
      "parameters": {
        "path": "0e6359a4-9694-4b45-83f8-62b1e1919865",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -260,
        300
      ],
      "webhookId": "0e6359a4-9694-4b45-83f8-62b1e1919865"
    },
    {
      "parameters": {
        "chatId": "={{ $json.body.message.chat.id }}",
        "text": "Thinking...",
        "options": {}
      },
      "name": "Telegram Send Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        -60,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIALS_ID",
          "name": "Telegram"
        }
      }
    },
    {
      "parameters": {
        "collectionName": "ai_memory",
        "operation": "search",
        "query": "{{ $json.body.message.text }}",
        "limit": 3,
        "options": {}
      },
      "name": "Chroma (Search)",
      "type": "n8n-nodes-base.chroma",
      "typeVersion": 1,
      "position": [
        140,
        180
      ],
      "credentials": {
        "chromaApi": {
          "id": "CHROMA_CREDENTIALS_ID",
          "name": "Chroma"
        }
      }
    },
    {
      "parameters": {
        "prompt": "Context: {{ $json.context }}\n\nUser Question: {{ $json.question }}\n\nAnswer:",
        "model": "llama3",
        "options": {}
      },
      "name": "Ollama",
      "type": "n8n-nodes-base.ollama",
      "typeVersion": 1,
      "position": [
        540,
        300
      ],
      "credentials": {
        "ollamaApi": {
          "id": "OLLAMA_CREDENTIALS_ID",
          "name": "Ollama"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.body.message.chat.id }}",
        "text": "={{ $json.answer }}",
        "options": {}
      },
      "name": "Telegram Send Final Answer",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        740,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIALS_ID",
          "name": "Telegram"
        }
      }
    },
    {
      "parameters": {
        "collectionName": "ai_memory",
        "operation": "upsert",
        "text": "{{ $json.body.message.text }}",
        "options": {}
      },
      "name": "Chroma (Save)",
      "type": "n8n-nodes-base.chroma",
      "typeVersion": 1,
      "position": [
        140,
        420
      ],
      "credentials": {
        "chromaApi": {
          "id": "CHROMA_CREDENTIALS_ID",
          "name": "Chroma"
        }
      }
    },
    {
      "parameters": {
        "keepOnly": "set",
        "values": {
          "string": [
            {
              "name": "question",
              "value": "={{ $json.body.message.text }}"
            },
            {
              "name": "context",
              "value": "={{ $items('Chroma (Search)').map(item => item.json.text).join('\n') }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        340,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.message.text }}",
              "operation": "contains",
              "value2": "/search"
            }
          ]
        }
      },
      "name": "If search command",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -60,
        500
      ]
    },
    {
      "parameters": {
        "query": "={{ $json.body.message.text.replace('/search ', '') }}",
        "options": {}
      },
      "name": "Tavily Search",
      "type": "n8n-nodes-base.tavily",
      "typeVersion": 1,
      "position": [
        140,
        600
      ],
      "credentials": {
        "tavilyApi": {
          "id": "TAVILY_CREDENTIALS_ID",
          "name": "Tavily"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Telegram Send Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Send Message": {
      "main": [
        [
          {
            "node": "Chroma (Search)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Chroma (Save)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chroma (Search)": {
      "main": [
        [
          {
            "node": "Set Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Context": {
      "main": [
        [
          {
            "node": "Ollama",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama": {
      "main": [
        [
          {
            "node": "Telegram Send Final Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If search command": {
      "main": [
        [
          {
            "node": "Tavily Search",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Tavily Search": {
      "main": [
        [
          {
            "node": "Set Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {}
}