n8n/workflows/ai-lazybones-cloud.json
{
  "name": "LazyBones AI Cloud",
  "nodes": [
    {
      "parameters": {
        "path": "lazybones-ai",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -900,
        260
      ],
      "webhookId": "lazybones-ai"
    },
    {
      "parameters": {
        "functionCode": "const body = $json.body || {};\nconst headers = $json.headers || {};\nconst expectedKey = $env.LAZYBONES_WEBHOOK_KEY || '';\nconst providedKey = headers['x-api-key'] || headers['X-API-Key'] || headers['x-api_key'] || '';\n\nconst authorized = !expectedKey || providedKey === expectedKey;\n\nconst actionRaw = (body.action || '').toString().trim().toLowerCase();\nconst allowed = ['save_report', 'get_reports', 'daily_summary', 'enrich_report_for_telegram', 'auth_sign_in', 'auth_sign_up', 'save_user_data', 'get_user_data'];\nconst requestedAction = allowed.includes(actionRaw) ? actionRaw : 'unknown';\nconst action = requestedAction === 'enrich_report_for_telegram' ? 'daily_summary' : requestedAction;\n\nconst userId = (body.user_id || '').toString().trim();\nconst reportType = (body.report_type || 'daily').toString().trim();\nconst reportDate = (body.report_date || new Date().toISOString().slice(0, 10)).toString().trim();\nconst reportPayload = body.report_payload || {};\nconst chatId = body.telegram_chat_id ? String(body.telegram_chat_id).trim() : '';\nconst limit = Number(body.limit || 20);\nconst email = (body.email || '').toString().trim();\nconst password = (body.password || '').toString();\nconst reports = Array.isArray(body.reports) ? body.reports : [];\nconst tags = Array.isArray(body.tags) ? body.tags : [];\nconst planItems = Array.isArray(body.plan_items) ? body.plan_items : [];\n\nreturn [{\n  authorized,\n  action,\n  requestedAction,\n  userId,\n  reportType,\n  reportDate,\n  reportPayload,\n  chatId,\n  limit: Number.isFinite(limit) ? Math.min(Math.max(limit, 1), 500) : 200,\n  hasUserId: userId.length > 0,\n  email,\n  password,\n  reports,\n  tags,\n  planItems,\n  error: authorized ? '' : 'Unauthorized: invalid x-api-key'\n}];"
      },
      "name": "Parse Request",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -700,
        260
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.authorized }}",
              "value2": true
            }
          ],
          "string": []
        }
      },
      "name": "If Authorized",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -500,
        260
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.action }}",
              "operation": "equal",
              "value2": "save_report"
            }
          ]
        }
      },
      "name": "If Save Report",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -300,
        120
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.action }}",
              "operation": "equal",
              "value2": "daily_summary"
            }
          ]
        }
      },
      "name": "If Daily Summary",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -100,
        260
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.action }}",
              "operation": "equal",
              "value2": "get_reports"
            }
          ]
        }
      },
      "name": "If Get Reports",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        100,
        420
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{ ($env.SUPABASE_URL || 'http://supabase-kong:8000') + '/rest/v1/reports' }}",
        "jsonParameters": true,
        "options": {},
        "headerParameters": [
          {
            "name": "apikey",
            "value": "={{ (($env.SUPABASE_SERVICE_ROLE_KEY || '') + '').trim() }}"
          },
          {
            "name": "Authorization",
            "value": "={{ 'Bearer ' + ((($env.SUPABASE_SERVICE_ROLE_KEY || '') + '').trim()) }}"
          },
          {
            "name": "Prefer",
            "value": "return=representation"
          },
          {
            "name": "Content-Type",
            "value": "application/json"
          }
        ],
        "bodyParametersJson": "={{ JSON.stringify([{\n  user_id: $json.userId,\n  report_type: $json.reportType,\n  report_date: $json.reportDate,\n  payload: $json.reportPayload,\n  source: 'mobile_app'\n}]) }}"
      },
      "name": "Insert Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -100,
        80
      ]
    },
    {
      "parameters": {
        "functionCode": "const r = $('Parse Request').first().json;\nconst payload = r.reportPayload || {};\n\nconst system = 'Ты ассистент продуктивности. Сформируй короткий полезный вывод по отчету пользователя на русском языке. Стиль: конкретно, по делу, без воды. Добавь 2-4 рекомендации и 1 следующий шаг.';\n\nconst prompt = `Пользователь: ${r.userId}\\nДата отчета: ${r.reportDate}\\nТип: ${r.reportType}\\nДанные отчета (JSON):\\n${JSON.stringify(payload, null, 2)}\\n\\nСформируй краткий вывод и рекомендации.`;\n\nreturn [{\n  ...r,\n  system,\n  prompt\n}];"
      },
      "name": "Build Save Summary Prompt",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        120,
        80
      ]
    },
    {
      "parameters": {
        "requestMethod": "GET",
        "url": "={{ ($env.SUPABASE_URL || 'http://supabase-kong:8000') + '/rest/v1/reports?select=id,user_id,report_date,report_type,payload,created_at&user_id=eq.' + encodeURIComponent($json.userId) + '&order=report_date.desc&limit=' + $json.limit }}",
        "jsonParameters": true,
        "options": {},
        "headerParameters": [
          {
            "name": "apikey",
            "value": "={{ (($env.SUPABASE_SERVICE_ROLE_KEY || '') + '').trim() }}"
          },
          {
            "name": "Authorization",
            "value": "={{ 'Bearer ' + ((($env.SUPABASE_SERVICE_ROLE_KEY || '') + '').trim()) }}"
          }
        ]
      },
      "name": "Fetch Reports",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        320,
        420
      ]
    },
    {
      "parameters": {
        "functionCode": "const req = $('Parse Request').first().json;\nconst reports = Array.isArray($json) ? $json : ($json.data || []);\n\nconst system = 'Ты ассистент продуктивности. На основе набора отчетов сформируй дневной вывод: 1) что получилось, 2) что проседает, 3) 3 конкретных шага на завтра.';\n\nconst prompt = `Пользователь: ${req.userId}\\nВсего отчетов: ${reports.length}\\n\\nОтчеты (JSON):\\n${JSON.stringify(reports, null, 2)}\\n\\nСделай структурированный вывод на русском.`;\n\nreturn [{\n  ...req,\n  reportsCount: reports.length,\n  reports,\n  system,\n  prompt\n}];"
      },
      "name": "Build Daily Prompt",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        540,
        260
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{ ($env.OLLAMA_BASE_URL || 'http://ollama:11434') + '/api/chat' }}",
        "jsonParameters": true,
        "options": {},
        "headerParameters": [
          {
            "name": "Authorization",
            "value": "={{ $env.OLLAMA_API_KEY ? ('Bearer ' + $env.OLLAMA_API_KEY) : '' }}"
          }
        ],
        "bodyParametersJson": "={{ JSON.stringify({\n  model: ($env.OLLAMA_MODEL || 'qwen3-coder:480b-cloud'),\n  stream: false,\n  options: { temperature: 0.2 },\n  messages: [\n    { role: 'system', content: $json.system },\n    { role: 'user', content: $json.prompt }\n  ]\n}) }}"
      },
      "name": "Ollama Chat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        760,
        200
      ]
    },
    {
      "parameters": {
        "functionCode": "const req = $('Build Save Summary Prompt').first()?.json || $('Build Daily Prompt').first()?.json || $('Parse Request').first().json;\nconst resp = $json || {};\n\nlet summary = '';\nif (resp.message && resp.message.content) summary = String(resp.message.content).trim();\nelse if (resp.choices && resp.choices[0]?.message?.content) summary = String(resp.choices[0].message.content).trim();\n\nif (!summary) summary = 'Не удалось сгенерировать summary.';\n\nreturn [{\n  ...req,\n  summary\n}];"
      },
      "name": "Extract Summary",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        980,
        200
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{ ($env.SUPABASE_URL || 'http://supabase-kong:8000') + '/rest/v1/report_insights' }}",
        "jsonParameters": true,
        "options": {
          "ignoreResponseCode": true
        },
        "headerParameters": [
          {
            "name": "apikey",
            "value": "={{ (($env.SUPABASE_SERVICE_ROLE_KEY || '') + '').trim() }}"
          },
          {
            "name": "Authorization",
            "value": "={{ 'Bearer ' + ((($env.SUPABASE_SERVICE_ROLE_KEY || '') + '').trim()) }}"
          },
          {
            "name": "Prefer",
            "value": "return=minimal"
          },
          {
            "name": "Content-Type",
            "value": "application/json"
          }
        ],
        "bodyParametersJson": "={{ JSON.stringify([{\n  user_id: $json.userId,\n  report_date: $json.reportDate || new Date().toISOString().slice(0, 10),\n  insight_type: $json.action,\n  summary: $json.summary,\n  meta: { reports_count: $json.reportsCount || 0 }\n}]) }}"
      },
      "name": "Save Insight",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1200,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.chatId }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "name": "If Has Chat",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1420,
        200
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_TOKEN + '/sendMessage' }}",
        "jsonParameters": true,
        "options": {
          "ignoreResponseCode": true
        },
        "bodyParametersJson": "={{ JSON.stringify({\n  chat_id: $json.chatId,\n  text: $json.summary\n}) }}"
      },
      "name": "Telegram Notify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1640,
        140
      ]
    },
    {
      "parameters": {
        "functionCode": "const req = $('Parse Request').first().json;\nif (!req.authorized) {\n  return [{ ok: false, error: req.error }];\n}\nif (req.action === 'auth_sign_in' || req.action === 'auth_sign_up') {\n  if (!req.email || !req.password) {\n    return [{ ok: false, error: 'Missing required fields: email, password' }];\n  }\n  return [{ ok: false, error: `Auth action failed: ${req.action}` }];\n}\nif (!req.hasUserId) {\n  return [{ ok: false, error: 'Missing required field: user_id' }];\n}\nreturn [{ ok: false, error: `Unsupported action: ${req.action}` }];"
      },
      "name": "Build Error Message",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        120,
        620
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Parse Request').first().json.chatId }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "name": "If Error Chat",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        340,
        620
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_TOKEN + '/sendMessage' }}",
        "jsonParameters": true,
        "options": {
          "ignoreResponseCode": true
        },
        "bodyParametersJson": "={{ JSON.stringify({\n  chat_id: $('Parse Request').first().json.chatId,\n  text: $json.errorText\n}) }}"
      },
      "name": "Telegram Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        560,
        620
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.action }}",
              "operation": "equal",
              "value2": "auth_sign_in"
            }
          ]
        }
      },
      "name": "If Auth Sign In",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        320,
        620
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.action }}",
              "operation": "equal",
              "value2": "auth_sign_up"
            }
          ]
        }
      },
      "name": "If Auth Sign Up",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        540,
        620
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{ ($env.SUPABASE_AUTH_URL || 'http://supabase-auth:9999') + '/token?grant_type=password' }}",
        "jsonParameters": true,
        "options": {
          "ignoreResponseCode": true
        },
        "headerParameters": [
          {
            "name": "apikey",
            "value": "={{ $env.SUPABASE_ANON_KEY || '' }}"
          },
          {
            "name": "Authorization",
            "value": "={{ 'Bearer ' + ($env.SUPABASE_ANON_KEY || '') }}"
          },
          {
            "name": "Content-Type",
            "value": "application/json"
          }
        ],
        "bodyParametersJson": "={{ JSON.stringify({ email: $json.email, password: $json.password }) }}"
      },
      "name": "Supabase Auth Sign In",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        760,
        560
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{ ($env.SUPABASE_AUTH_URL || 'http://supabase-auth:9999') + '/signup' }}",
        "jsonParameters": true,
        "options": {
          "ignoreResponseCode": true
        },
        "headerParameters": [
          {
            "name": "apikey",
            "value": "={{ $env.SUPABASE_ANON_KEY || '' }}"
          },
          {
            "name": "Authorization",
            "value": "={{ 'Bearer ' + ($env.SUPABASE_ANON_KEY || '') }}"
          },
          {
            "name": "Content-Type",
            "value": "application/json"
          }
        ],
        "bodyParametersJson": "={{ JSON.stringify({ email: $json.email, password: $json.password }) }}"
      },
      "name": "Supabase Auth Sign Up",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        760,
        700
      ]
    },
    {
      "parameters": {
        "functionCode": "const req = $('Parse Request').first().json;\nconst root = $json || {};\n\nconst accessToken = root.access_token || root.session?.access_token || '';\nconst refreshToken = root.refresh_token || root.session?.refresh_token || '';\nconst userObj = root.user || root.session?.user || {};\nconst userId = userObj.id || '';\nconst email = userObj.email || req.email || '';\n\nif (!accessToken || !refreshToken || !userId) {\n  const err = root.msg || root.message || root.error_description || 'Auth failed';\n  return [{ ok: false, error: String(err) }];\n}\n\nreturn [{\n  ok: true,\n  action: req.action,\n  user_id: userId,\n  email,\n  access_token: accessToken,\n  refresh_token: refreshToken\n}];"
      },
      "name": "Build Auth Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        980,
        620
      ]
    },
    {
      "parameters": {
        "path": "lazybones-ai-auth",
        "httpMethod": "POST",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Auth Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -900,
        520
      ],
      "webhookId": "lazybones-ai-auth"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.action }}",
              "operation": "equal",
              "value2": "get_user_data"
            }
          ]
        }
      },
      "name": "If Get User Data",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        320,
        500
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.action }}",
              "operation": "equal",
              "value2": "save_user_data"
            }
          ]
        }
      },
      "name": "If Save User Data",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        540,
        500
      ]
    },
    {
      "parameters": {
        "requestMethod": "GET",
        "url": "={{ ($env.SUPABASE_URL || 'http://supabase-kong:8000') + '/rest/v1/reports?select=*&user_id=eq.' + encodeURIComponent($json.userId) + '&order=report_date.desc&limit=' + ($json.limit || 200) }}",
        "jsonParameters": true,
        "options": {},
        "headerParameters": [
          {
            "name": "apikey",
            "value": "={{ (($env.SUPABASE_SERVICE_ROLE_KEY || '') + '').trim() }}"
          },
          {
            "name": "Authorization",
            "value": "={{ 'Bearer ' + ((($env.SUPABASE_SERVICE_ROLE_KEY || '') + '').trim()) }}"
          }
        ]
      },
      "name": "Fetch Reports For User Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        760,
        500
      ]
    },
    {
      "parameters": {
        "requestMethod": "GET",
        "url": "={{ ($env.SUPABASE_URL || 'http://supabase-kong:8000') + '/rest/v1/user_tags?select=*&user_id=eq.' + encodeURIComponent($json.userId) + '&order=created_at.desc' }}",
        "jsonParameters": true,
        "options": {},
        "headerParameters": [
          {
            "name": "apikey",
            "value": "={{ (($env.SUPABASE_SERVICE_ROLE_KEY || '') + '').trim() }}"
          },
          {
            "name": "Authorization",
            "value": "={{ 'Bearer ' + ((($env.SUPABASE_SERVICE_ROLE_KEY || '') + '').trim()) }}"
          }
        ]
      },
      "name": "Fetch User Tags",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        980,
        500
      ]
    },
    {
      "parameters": {
        "requestMethod": "GET",
        "url": "={{ ($env.SUPABASE_URL || 'http://supabase-kong:8000') + '/rest/v1/user_plan_items?select=*&user_id=eq.' + encodeURIComponent($json.userId) + '&order=created_at.asc' }}",
        "jsonParameters": true,
        "options": {},
        "headerParameters": [
          {
            "name": "apikey",
            "value": "={{ (($env.SUPABASE_SERVICE_ROLE_KEY || '') + '').trim() }}"
          },
          {
            "name": "Authorization",
            "value": "={{ 'Bearer ' + ((($env.SUPABASE_SERVICE_ROLE_KEY || '') + '').trim()) }}"
          }
        ]
      },
      "name": "Fetch User Plan Items",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1200,
        500
      ]
    },
    {
      "parameters": {
        "functionCode": "const req = $('Parse Request').first().json;\n\nfunction collect(nodeName) {\n  const items = $(nodeName).all();\n  const out = [];\n\n  for (const item of items) {\n    const j = item?.json;\n    if (Array.isArray(j)) {\n      out.push(...j);\n      continue;\n    }\n    if (j && Array.isArray(j.body)) {\n      out.push(...j.body);\n      continue;\n    }\n    if (j && Array.isArray(j.data)) {\n      out.push(...j.data);\n      continue;\n    }\n    if (j && typeof j === 'object' && Object.keys(j).length > 0) {\n      out.push(j);\n    }\n  }\n\n  return out;\n}\n\nconst reports = collect('Fetch Reports For User Data');\nconst tags = collect('Fetch User Tags');\nconst planItems = collect('Fetch User Plan Items');\n\nreturn [{\n  ok: true,\n  action: req.action,\n  user_id: req.userId,\n  reports,\n  tags,\n  plan_items: planItems,\n  counts: {\n    reports: reports.length,\n    tags: tags.length,\n    plan_items: planItems.length,\n  },\n}];"
      },
      "name": "Build User Data Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1420,
        500
      ]
    },
    {
      "parameters": {
        "requestMethod": "DELETE",
        "url": "={{ ($env.SUPABASE_URL || 'http://supabase-kong:8000') + '/rest/v1/reports?user_id=eq.' + ((($('Parse Request').first().json.reports || []).length > 0) ? ($('Parse Request').first().json.userId || '') : '__skip__') }}",
        "jsonParameters": false,
        "options": {},
        "headerParameters": [
          {
            "name": "apikey",
            "value": "={{ (($env.SUPABASE_SERVICE_ROLE_KEY || '') + '').trim() }}"
          },
          {
            "name": "Authorization",
            "value": "={{ 'Bearer ' + ((($env.SUPABASE_SERVICE_ROLE_KEY || '') + '').trim()) }}"
          }
        ]
      },
      "name": "Delete Reports Snapshot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        760,
        660
      ]
    },
    {
      "parameters": {
        "requestMethod": "DELETE",
        "url": "={{ ($env.SUPABASE_URL || 'http://supabase-kong:8000') + '/rest/v1/user_tags?user_id=eq.' + ((($('Parse Request').first().json.tags || []).length > 0) ? ($('Parse Request').first().json.userId || '') : '__skip__') }}",
        "jsonParameters": false,
        "options": {},
        "headerParameters": [
          {
            "name": "apikey",
            "value": "={{ (($env.SUPABASE_SERVICE_ROLE_KEY || '') + '').trim() }}"
          },
          {
            "name": "Authorization",
            "value": "={{ 'Bearer ' + ((($env.SUPABASE_SERVICE_ROLE_KEY || '') + '').trim()) }}"
          }
        ]
      },
      "name": "Delete Tags Snapshot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        980,
        660
      ]
    },
    {
      "parameters": {
        "requestMethod": "DELETE",
        "url": "={{ ($env.SUPABASE_URL || 'http://supabase-kong:8000') + '/rest/v1/user_plan_items?user_id=eq.' + ((($('Parse Request').first().json.planItems || []).length > 0) ? ($('Parse Request').first().json.userId || '') : '__skip__') }}",
        "jsonParameters": false,
        "options": {},
        "headerParameters": [
          {
            "name": "apikey",
            "value": "={{ (($env.SUPABASE_SERVICE_ROLE_KEY || '') + '').trim() }}"
          },
          {
            "name": "Authorization",
            "value": "={{ 'Bearer ' + ((($env.SUPABASE_SERVICE_ROLE_KEY || '') + '').trim()) }}"
          }
        ]
      },
      "name": "Delete Plan Items Snapshot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1200,
        660
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{ ($env.SUPABASE_URL || 'http://supabase-kong:8000') + '/rest/v1/reports' }}",
        "jsonParameters": true,
        "options": {},
        "headerParameters": [
          {
            "name": "apikey",
            "value": "={{ (($env.SUPABASE_SERVICE_ROLE_KEY || '') + '').trim() }}"
          },
          {
            "name": "Authorization",
            "value": "={{ 'Bearer ' + ((($env.SUPABASE_SERVICE_ROLE_KEY || '') + '').trim()) }}"
          },
          {
            "name": "Prefer",
            "value": "return=representation"
          },
          {
            "name": "Content-Type",
            "value": "application/json"
          }
        ],
        "bodyParametersJson": "={{ JSON.stringify($('Parse Request').first().json.reports || []) }}"
      },
      "name": "Insert Reports Snapshot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1420,
        660
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{ ($env.SUPABASE_URL || 'http://supabase-kong:8000') + '/rest/v1/user_tags' }}",
        "jsonParameters": true,
        "options": {},
        "headerParameters": [
          {
            "name": "apikey",
            "value": "={{ (($env.SUPABASE_SERVICE_ROLE_KEY || '') + '').trim() }}"
          },
          {
            "name": "Authorization",
            "value": "={{ 'Bearer ' + ((($env.SUPABASE_SERVICE_ROLE_KEY || '') + '').trim()) }}"
          },
          {
            "name": "Prefer",
            "value": "return=representation"
          },
          {
            "name": "Content-Type",
            "value": "application/json"
          }
        ],
        "bodyParametersJson": "={{ JSON.stringify($('Parse Request').first().json.tags || []) }}"
      },
      "name": "Insert Tags Snapshot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1640,
        660
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{ ($env.SUPABASE_URL || 'http://supabase-kong:8000') + '/rest/v1/user_plan_items' }}",
        "jsonParameters": true,
        "options": {},
        "headerParameters": [
          {
            "name": "apikey",
            "value": "={{ (($env.SUPABASE_SERVICE_ROLE_KEY || '') + '').trim() }}"
          },
          {
            "name": "Authorization",
            "value": "={{ 'Bearer ' + ((($env.SUPABASE_SERVICE_ROLE_KEY || '') + '').trim()) }}"
          },
          {
            "name": "Prefer",
            "value": "return=representation"
          },
          {
            "name": "Content-Type",
            "value": "application/json"
          }
        ],
        "bodyParametersJson": "={{ JSON.stringify($('Parse Request').first().json.planItems || []) }}"
      },
      "name": "Insert Plan Items Snapshot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1860,
        660
      ]
    },
    {
      "parameters": {
        "functionCode": "const req = $('Parse Request').first().json;\n\nfunction collect(nodeName) {\n  const items = $(nodeName).all();\n  const out = [];\n  for (const item of items) {\n    const j = item?.json;\n    if (Array.isArray(j)) { out.push(...j); continue; }\n    if (j && Array.isArray(j.body)) { out.push(...j.body); continue; }\n    if (j && Array.isArray(j.data)) { out.push(...j.data); continue; }\n    if (j && typeof j === 'object' && Object.keys(j).length > 0) { out.push(j); }\n  }\n  return out;\n}\n\nconst savedReports = collect('Fetch Saved Reports');\nconst savedTags = collect('Fetch Saved Tags');\nconst savedPlanItems = collect('Fetch Saved Plan Items');\n\nreturn [{\n  ok: true,\n  action: req.action,\n  user_id: req.userId,\n  requested_counts: {\n    reports: Array.isArray(req.reports) ? req.reports.length : 0,\n    tags: Array.isArray(req.tags) ? req.tags.length : 0,\n    plan_items: Array.isArray(req.planItems) ? req.planItems.length : 0,\n  },\n  saved_counts: {\n    reports: savedReports.length,\n    tags: savedTags.length,\n    plan_items: savedPlanItems.length,\n  },\n}];"
      },
      "name": "Build Save User Data Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        2080,
        660
      ]
    },
    {
      "parameters": {
        "requestMethod": "GET",
        "url": "={{ ($env.SUPABASE_URL || 'http://supabase-kong:8000') + '/rest/v1/reports?select=id&user_id=eq.' + encodeURIComponent($('Parse Request').first().json.userId || '') }}",
        "jsonParameters": true,
        "options": {},
        "headerParameters": [
          {
            "name": "apikey",
            "value": "={{ (($env.SUPABASE_SERVICE_ROLE_KEY || '') + '').trim() }}"
          },
          {
            "name": "Authorization",
            "value": "={{ 'Bearer ' + ((($env.SUPABASE_SERVICE_ROLE_KEY || '') + '').trim()) }}"
          }
        ]
      },
      "name": "Fetch Saved Reports",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1880,
        700
      ]
    },
    {
      "parameters": {
        "requestMethod": "GET",
        "url": "={{ ($env.SUPABASE_URL || 'http://supabase-kong:8000') + '/rest/v1/user_tags?select=id&user_id=eq.' + encodeURIComponent($('Parse Request').first().json.userId || '') }}",
        "jsonParameters": true,
        "options": {},
        "headerParameters": [
          {
            "name": "apikey",
            "value": "={{ (($env.SUPABASE_SERVICE_ROLE_KEY || '') + '').trim() }}"
          },
          {
            "name": "Authorization",
            "value": "={{ 'Bearer ' + ((($env.SUPABASE_SERVICE_ROLE_KEY || '') + '').trim()) }}"
          }
        ]
      },
      "name": "Fetch Saved Tags",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2100,
        700
      ]
    },
    {
      "parameters": {
        "requestMethod": "GET",
        "url": "={{ ($env.SUPABASE_URL || 'http://supabase-kong:8000') + '/rest/v1/user_plan_items?select=id&user_id=eq.' + encodeURIComponent($('Parse Request').first().json.userId || '') }}",
        "jsonParameters": true,
        "options": {},
        "headerParameters": [
          {
            "name": "apikey",
            "value": "={{ (($env.SUPABASE_SERVICE_ROLE_KEY || '') + '').trim() }}"
          },
          {
            "name": "Authorization",
            "value": "={{ 'Bearer ' + ((($env.SUPABASE_SERVICE_ROLE_KEY || '') + '').trim()) }}"
          }
        ]
      },
      "name": "Fetch Saved Plan Items",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2320,
        700
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Request": {
      "main": [
        [
          {
            "node": "If Authorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Authorized": {
      "main": [
        [
          {
            "node": "If Save Report",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Save Report": {
      "main": [
        [
          {
            "node": "Insert Report",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Daily Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Report": {
      "main": [
        [
          {
            "node": "Build Save Summary Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Save Summary Prompt": {
      "main": [
        [
          {
            "node": "Ollama Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Daily Summary": {
      "main": [
        [
          {
            "node": "Fetch Reports",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Get Reports",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Reports": {
      "main": [
        [
          {
            "node": "Build Daily Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Daily Prompt": {
      "main": [
        [
          {
            "node": "Ollama Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat": {
      "main": [
        [
          {
            "node": "Extract Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Summary": {
      "main": [
        [
          {
            "node": "Save Insight",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Insight": {
      "main": [
        [
          {
            "node": "If Has Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Has Chat": {
      "main": [
        [
          {
            "node": "Telegram Notify",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "If Get Reports": {
      "main": [
        [
          {
            "node": "Fetch Reports",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Get User Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Error Message": {
      "main": [
        [
          {
            "node": "If Error Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Error Chat": {
      "main": [
        [
          {
            "node": "Telegram Error",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "If Auth Sign In": {
      "main": [
        [
          {
            "node": "Supabase Auth Sign In",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Auth Sign Up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Auth Sign Up": {
      "main": [
        [
          {
            "node": "Supabase Auth Sign Up",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Auth Sign In": {
      "main": [
        [
          {
            "node": "Build Auth Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Auth Sign Up": {
      "main": [
        [
          {
            "node": "Build Auth Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Webhook": {
      "main": [
        [
          {
            "node": "Parse Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Get User Data": {
      "main": [
        [
          {
            "node": "Fetch Reports For User Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Save User Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Reports For User Data": {
      "main": [
        [
          {
            "node": "Fetch User Tags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch User Tags": {
      "main": [
        [
          {
            "node": "Fetch User Plan Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch User Plan Items": {
      "main": [
        [
          {
            "node": "Build User Data Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Save User Data": {
      "main": [
        [
          {
            "node": "Delete Reports Snapshot",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Auth Sign In",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Reports Snapshot": {
      "main": [
        [
          {
            "node": "Delete Tags Snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Tags Snapshot": {
      "main": [
        [
          {
            "node": "Delete Plan Items Snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Plan Items Snapshot": {
      "main": [
        [
          {
            "node": "Insert Reports Snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Reports Snapshot": {
      "main": [
        [
          {
            "node": "Insert Tags Snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Tags Snapshot": {
      "main": [
        [
          {
            "node": "Insert Plan Items Snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Plan Items Snapshot": {
      "main": [
        [
          {
            "node": "Fetch Saved Reports",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Saved Reports": {
      "main": [
        [
          {
            "node": "Fetch Saved Tags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Saved Tags": {
      "main": [
        [
          {
            "node": "Fetch Saved Plan Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Saved Plan Items": {
      "main": [
        [
          {
            "node": "Build Save User Data Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "lazybones-cloud-v1",
  "meta": {
    "instanceId": "lazybones"
  }
}
